## MAC files ##
.DS_Store

## NPM ##
node_modules/

#testing
coverage/
tests/

# compiled webpack
public/bundle.js

# static data, old db options
database/seed/restaurants.csv
database/seed/images.csv
database/db0/
database/db1/